*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.orange-text {
  color: orange;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  justify-content: space-evenly;
}

.search form {
  display: flex;
  align-items: center;
}

.search input {
  flex-grow: 1;
  margin-right: 10px;
}

.orange-btn {
  background-color: orange;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  flex-shrink: 0;
}

.orange-btn:disabled {
  background-color: lightgray;
  cursor: not-allowed;
}

.loading {
  display: inline-block;
  margin-left: 10px;
  width: 20px;
}

.suggestions {
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  background: white;
  width: 30%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
  text-align: left;
}

.suggestions li {
  padding: 10px;
  cursor: pointer;
}

.suggestions li:hover {
  background-color: #f0f0f0;
}

.weather-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.weather-table {
  margin: 10px;
  border-collapse: collapse;
  max-width: 600px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.weather-table th,
.weather-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.date-row th {
  background-color: orange;
  color: white;
  text-align: center;
}

.temperature-row td {
  background-color: #f9f9f9;
  text-align: center;
}

.weather-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

@media (max-width: 600px) {
  .search {
    flex-direction: column;
  }

  .weather-container {
    flex-direction: column;
    align-items: center;
  }

  .weather-table {
    width: 100%;
  }
}

